.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.947754;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.931152;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._f{margin-left:-1717.944000px;}
._18{margin-left:-1685.548000px;}
._a{margin-left:-979.264000px;}
._5{margin-left:-856.016000px;}
._10{margin-left:-600.008000px;}
._0{margin-left:-595.680000px;}
._1{margin-left:-498.840000px;}
._7{margin-left:-466.704000px;}
._2{margin-left:-428.968000px;}
._3{margin-left:-290.248000px;}
._8{width:12.008000px;}
._1a{width:16.000000px;}
._e{width:43.600000px;}
._d{width:95.448000px;}
._13{width:102.356000px;}
._b{width:116.632000px;}
._c{width:119.648000px;}
._15{width:131.060000px;}
._12{width:133.564000px;}
._16{width:139.520000px;}
._17{width:169.952000px;}
._11{width:478.684000px;}
._14{width:509.564000px;}
._4{width:536.416000px;}
._19{width:636.576000px;}
._6{width:672.288000px;}
._9{width:1480.552000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:20.000000px;}
.fs4{font-size:24.000000px;}
.fs2{font-size:28.000000px;}
.fs0{font-size:32.000000px;}
.fs3{font-size:36.000000px;}
.fs1{font-size:40.000000px;}
.y0{bottom:72.000000px;}
.y1{bottom:190.700000px;}
.y1c{bottom:208.230000px;}
.y1b{bottom:217.040000px;}
.y1e{bottom:233.700000px;}
.y1d{bottom:254.700000px;}
.y1a{bottom:289.730000px;}
.y19{bottom:302.730000px;}
.y15{bottom:314.540000px;}
.y16{bottom:314.950000px;}
.y13{bottom:316.230000px;}
.y18{bottom:317.270000px;}
.y17{bottom:324.820000px;}
.y12{bottom:325.040000px;}
.y14{bottom:327.540000px;}
.y9{bottom:348.700000px;}
.y11{bottom:363.700000px;}
.y7{bottom:378.700000px;}
.yb{bottom:393.700000px;}
.ye{bottom:458.120000px;}
.ya{bottom:466.660000px;}
.yd{bottom:466.930000px;}
.yc{bottom:475.730000px;}
.y8{bottom:485.700000px;}
.y6{bottom:491.120000px;}
.y5{bottom:499.930000px;}
.y2{bottom:500.620000px;}
.y4{bottom:508.730000px;}
.y3{bottom:523.620000px;}
.yf{bottom:555.730000px;}
.y10{bottom:567.730000px;}
.h8{height:14.677734px;}
.h7{height:17.613281px;}
.h4{height:20.548828px;}
.h6{height:20.644531px;}
.h9{height:23.484375px;}
.h2{height:23.593750px;}
.h5{height:26.542969px;}
.h3{height:29.355469px;}
.h1{height:502.000000px;}
.h0{height:595.000000px;}
.w1{width:802.000000px;}
.w0{width:842.000000px;}
.x0{left:20.000000px;}
.xb{left:41.930000px;}
.x3{left:48.450000px;}
.x11{left:52.870000px;}
.x10{left:57.570000px;}
.x20{left:59.710000px;}
.x1f{left:65.370000px;}
.x2a{left:74.000000px;}
.xc{left:79.800000px;}
.x4{left:109.000000px;}
.x5{left:111.000000px;}
.x14{left:116.420000px;}
.x15{left:129.430000px;}
.x1e{left:140.880000px;}
.x21{left:152.920000px;}
.x22{left:165.930000px;}
.x13{left:189.780000px;}
.x24{left:241.190000px;}
.x23{left:248.270000px;}
.xa{left:315.260000px;}
.x12{left:327.240000px;}
.x25{left:335.650000px;}
.x26{left:340.930000px;}
.x8{left:355.000000px;}
.x6{left:369.880000px;}
.x28{left:408.820000px;}
.x27{left:409.960000px;}
.x1d{left:421.510000px;}
.x9{left:452.630000px;}
.x2{left:470.700000px;}
.x16{left:472.080000px;}
.xe{left:497.190000px;}
.x29{left:502.990000px;}
.x18{left:526.310000px;}
.x17{left:532.380000px;}
.x7{left:571.000000px;}
.x19{left:583.890000px;}
.x1a{left:646.110000px;}
.x1{left:664.000000px;}
.x1c{left:708.220000px;}
.xd{left:726.570000px;}
.xf{left:737.910000px;}
.x1b{left:741.420000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._f{margin-left:-2290.592000pt;}
._18{margin-left:-2247.397333pt;}
._a{margin-left:-1305.685333pt;}
._5{margin-left:-1141.354667pt;}
._10{margin-left:-800.010667pt;}
._0{margin-left:-794.240000pt;}
._1{margin-left:-665.120000pt;}
._7{margin-left:-622.272000pt;}
._2{margin-left:-571.957333pt;}
._3{margin-left:-386.997333pt;}
._8{width:16.010667pt;}
._1a{width:21.333333pt;}
._e{width:58.133333pt;}
._d{width:127.264000pt;}
._13{width:136.474667pt;}
._b{width:155.509333pt;}
._c{width:159.530667pt;}
._15{width:174.746667pt;}
._12{width:178.085333pt;}
._16{width:186.026667pt;}
._17{width:226.602667pt;}
._11{width:638.245333pt;}
._14{width:679.418667pt;}
._4{width:715.221333pt;}
._19{width:848.768000pt;}
._6{width:896.384000pt;}
._9{width:1974.069333pt;}
.fs5{font-size:26.666667pt;}
.fs4{font-size:32.000000pt;}
.fs2{font-size:37.333333pt;}
.fs0{font-size:42.666667pt;}
.fs3{font-size:48.000000pt;}
.fs1{font-size:53.333333pt;}
.y0{bottom:96.000000pt;}
.y1{bottom:254.266667pt;}
.y1c{bottom:277.640000pt;}
.y1b{bottom:289.386667pt;}
.y1e{bottom:311.600000pt;}
.y1d{bottom:339.600000pt;}
.y1a{bottom:386.306667pt;}
.y19{bottom:403.640000pt;}
.y15{bottom:419.386667pt;}
.y16{bottom:419.933333pt;}
.y13{bottom:421.640000pt;}
.y18{bottom:423.026667pt;}
.y17{bottom:433.093333pt;}
.y12{bottom:433.386667pt;}
.y14{bottom:436.720000pt;}
.y9{bottom:464.933333pt;}
.y11{bottom:484.933333pt;}
.y7{bottom:504.933333pt;}
.yb{bottom:524.933333pt;}
.ye{bottom:610.826667pt;}
.ya{bottom:622.213333pt;}
.yd{bottom:622.573333pt;}
.yc{bottom:634.306667pt;}
.y8{bottom:647.600000pt;}
.y6{bottom:654.826667pt;}
.y5{bottom:666.573333pt;}
.y2{bottom:667.493333pt;}
.y4{bottom:678.306667pt;}
.y3{bottom:698.160000pt;}
.yf{bottom:740.973333pt;}
.y10{bottom:756.973333pt;}
.h8{height:19.570312pt;}
.h7{height:23.484375pt;}
.h4{height:27.398438pt;}
.h6{height:27.526042pt;}
.h9{height:31.312500pt;}
.h2{height:31.458333pt;}
.h5{height:35.390625pt;}
.h3{height:39.140625pt;}
.h1{height:669.333333pt;}
.h0{height:793.333333pt;}
.w1{width:1069.333333pt;}
.w0{width:1122.666667pt;}
.x0{left:26.666667pt;}
.xb{left:55.906667pt;}
.x3{left:64.600000pt;}
.x11{left:70.493333pt;}
.x10{left:76.760000pt;}
.x20{left:79.613333pt;}
.x1f{left:87.160000pt;}
.x2a{left:98.666667pt;}
.xc{left:106.400000pt;}
.x4{left:145.333333pt;}
.x5{left:148.000000pt;}
.x14{left:155.226667pt;}
.x15{left:172.573333pt;}
.x1e{left:187.840000pt;}
.x21{left:203.893333pt;}
.x22{left:221.240000pt;}
.x13{left:253.040000pt;}
.x24{left:321.586667pt;}
.x23{left:331.026667pt;}
.xa{left:420.346667pt;}
.x12{left:436.320000pt;}
.x25{left:447.533333pt;}
.x26{left:454.573333pt;}
.x8{left:473.333333pt;}
.x6{left:493.173333pt;}
.x28{left:545.093333pt;}
.x27{left:546.613333pt;}
.x1d{left:562.013333pt;}
.x9{left:603.506667pt;}
.x2{left:627.600000pt;}
.x16{left:629.440000pt;}
.xe{left:662.920000pt;}
.x29{left:670.653333pt;}
.x18{left:701.746667pt;}
.x17{left:709.840000pt;}
.x7{left:761.333333pt;}
.x19{left:778.520000pt;}
.x1a{left:861.480000pt;}
.x1{left:885.333333pt;}
.x1c{left:944.293333pt;}
.xd{left:968.760000pt;}
.xf{left:983.880000pt;}
.x1b{left:988.560000pt;}
}
